<!DOCTYPE html>
<html>
<head>
    <title>Dogstagram</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="../static/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>
<body>
  <div class="container">
    <div class="login">
      <h1>Dogstagram</h1>
      <input type="username" placeholder="Username" id="username" required>
      <input type="password" placeholder="Password" id="password" required>
      <br><br>
      <button type="submit" onclick="login()">Login</button>
      <button type="submit" onclick="signup()">Sign Up</button>
      <button type="submit" onclick="runTests()">Run Tests</button>
    </div>
  </div>

  <script src = "../static/main.js" defer></script>
  <script>
      usernameinput = document.getElementById("username");
      passwordinput = document.getElementById("password");
      usernameinput.addEventListener("keyup",function(event) {
          if (event.keyCode === 13) {
              login();
          }
      });
      passwordinput.addEventListener("keyup",function(event) {
          if (event.keyCode === 13) {
              login();
          }
      });
  </script>
</body>
</html>
