<!DOCTYPE html>
<html>
<head>
  <title>Dogstagram</title>
  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="../static/style.css"/>

  <!-- include jquery-->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>
<body>
  <div class="container">
    <div class="topBar">
          <h2>Welcome, {{user}}!</h2>
        <form onsubmit="searchUsername()">
          <input type="text" id="searchUser" placeholder = "Input another User">
        </form>
<br>
            <label for="imageUpload"><span class="ico"><i class="fa fa-plus" onclick="uploadImage()"></i></span></label>
            <span class="ico"><i class="fa fa-home" onclick="returnHome()"></i></span>
            <span class="ico"><i class="fa fa-user" onclick="myImages()"></i></span>
            <span class="ico"><i class="fa fa-sign-out-alt" onclick="logOut()"></i></span>

        <span id="upload" style="visibility: hidden;">
            <form action="/upload" method="post" enctype="multipart/form-data">
              <input type="file" name="image" id="imageUpload" required>
              <input type="submit" value="Upload!">
            </form>
        </span>
    </div>
    <br>
    <div id="message">&nbsp</div>
    <div class="text-center">
      <div id="images" onclick ="deleteImages()">

      </div>
    </div>
  </div>
  <script src = "../static/main.js" defer></script>
</body>
</html>
