<!DOCTYPE html>
<html>
<head>
  <title>Dogstagram</title>
  <!--<link rel='shortcut icon' href='../index.ico' type='image/x-icon'/>-->
  <link rel="stylesheet" type="text/css" href="../static/style.css"/>

  <!-- Add the Firebase and Cloud Firestore libraries to app -->
  <script src="https://www.gstatic.com/firebasejs/5.9.2/firebase-app.js"></script>
  <script src="https://www.gstatic.com/firebasejs/5.9.2/firebase-firestore.js"></script>

  <!-- include jquery-->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>
<body>
  <div class="topBar">
      <img id="profilePic" src="../static/default.jpg" onclick="logOut()"></img>
        Welcome, <span id="username">Test User</span>!<br>
      <input type="text" placeholder = "Input another User"></input><br><br>

      <!--text input field for image urls? Or something else?-->
      <button type="button" id="image" onclick="uploadImage()">Add Image</button>
      
      <button type="button" onclick="logOut()">Log Out</button>

      <div id="upload" style="visibility: hidden;">
          <form action="/upload" method="post" enctype="multipart/form-data">
            <input type="file" name="image" id="image">
            <input type="submit" value="Upload!">
          </form>
      </div>
  </div>
  <br>
  <div id="message">&nbsp</div>
  <div id="images">

  </div>
  <script src = "../static/main.js" defer></script>
</body>
</html>
